@model CommunityWiki.Models.Articles.CompareRevisionViewModel
@{
    ViewData["Title"] = $"Compare {Model.Article.Title}";
}

<div class="row">
    <div class="col-md-6 diff-prev">
        <h4>@Model.Revision.RevisionDate.ToString("d")</h4>
        <partial name="_DiffPane" model="Model.DiffModel.OldText" />
    </div>
    <div class="col-md-6">
        <h4>Current</h4>
        <partial name="_DiffPane" model="Model.DiffModel.NewText" />
    </div>
</div>