@model CommunityWiki.Models.Articles.EditArticleViewModel

@{
    ViewData["Title"] = "Edit article";
}

@section head
{
    <script type="text/javascript" src="~/js/Markdown.Converter.js"></script>
    <script type="text/javascript" src="~/js/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="~/js/Markdown.Editor.js"></script>
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" asp-route-id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" placeholder="What is this article about?" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <partial name="_FieldEditor" model="Model" />

            <div class="form-group">
                <div class="wmd-panel">
                    <div id="wmd-button-bar"></div>
                    <textarea asp-for="Body" class="form-control wmd-input" id="wmd-input" rows="10" placeholder="Describe your @Model.ArticleTypeName with as much detail as possible"></textarea>
                </div>

                <div id="wmd-preview" class="wmd-panel wmd-preview"></div>

                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ArticleTypeId" />
                <button type="submit" id="btn-save-changes" class="btn btn-primary">Save article</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            var mdConverter = Markdown.getSanitizingConverter();
            var editor1 = new Markdown.Editor(mdConverter);

            editor1.run();
        });
    </script>

}
