@model CommunityWiki.Models.Users.EditUserViewModel
@{
    ViewData["Title"] = "Edit User";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" asp-route-id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="IsAdmin">
                        <input type="checkbox" asp-for="IsAdmin" />
                        Admin
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" id="btn-save" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>